.bg-body {
    background-image: url('../../assets/background/Night-view-Mountain.jpg');
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}

.navbar#mainNav {
    &.navbar-shrink {
        background-color: #383c6ee2 !important;
        transition: .5s ease-in-out;
    }

    .navbar-collapse {}
}

header.custom-header {
    // background-image: url('../../assets/img/Wallpaper.jpg');
    // background-size: cover;
    // background-position-y: center;
    // background-position-x: center;

    img.masthead-avatar {
        border-radius: 50%;
    }

    h1.masthead-heading {
        line-height: 65px !important;
    }

}

a.link-custom {
    text-decoration: none;
    transition: .2s ease-out;
}

#about {
    &.bg-primary {
        background-color: rgba(44, 62, 80, 0.502) !important;
    }

    .lead {
        font-weight: lighter;

        a.link-custom {
            color: #ffffff;
            font-style: italic;

            &:hover {
                color: #1abc9c;
            }
        }
    }
}

table.my-biodata {
    tr {
        td {
            padding: 10PX 15px;
            color: azure;
            font-size: 18px;
            font-weight: 600;
            border-bottom: none;
        }

        &#my-contact {
            a.link-custom {
                color: azure;

                &:hover {
                    color: #1abc9c;
                }
            }
        }
    }
}

footer.footer {
    background-color: #383C6E !important;

    p.lead {
        span.bold-text {
            font-weight: 800;
        }

        a.link-custom {
            color: azure;

            &:hover {
                color: #1abc9c;
            }
        }
    }
}