.bg-body {
    background-image: url('../../assets/background/Night-view-Mountain.jpg');
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}

.navbar#mainNav {
    &.navbar-shrink {
        background-color: #383c6ef0 !important;
        transition: .5s ease-in-out;
    }

    .navbar-brand img {
        width: 100px;
        padding-left: 25px;
    }

    .navbar-collapse {
        .divider-menu {
            // display: block;
            width: 30%;
            height: 1px !important;
            background-color: #ffffff;
            margin: auto;
        }
    }
}

@media only screen and (max-width: 991px) {
    .navbar#mainNav {
        background-color: #383c6ef0 !important;
    }
}

header.custom-header {
    // background-image: url('../../assets/img/Wallpaper.jpg');
    // background-size: cover;
    // background-position-y: center;
    // background-position-x: center;

    img.masthead-avatar {
        border-radius: 50%;
    }

    h1.masthead-heading {
        line-height: 65px !important;
    }

}

a.link-custom {
    text-decoration: none;
    transition: .2s ease-out;
}

#about {
    &.bg-primary {
        background-color: rgba(44, 62, 80, 0.502) !important;
    }

    .lead {
        font-weight: lighter;

        a.link-custom {
            color: #ffffff;
            font-style: italic;

            &:hover {
                color: #1abc9c;
            }
        }
    }
}

section#biodata {
    padding-bottom: 0;

    table.my-biodata {
        &.table-dark {
            --bs-table-bg: rgba(33, 37, 41, 0.3);
            --bs-table-striped-bg: rgba(44, 48, 52, 0.3);
            --bs-table-striped-color: #fff;
            --bs-table-active-bg: rgba(55, 59, 62, 0.3);
            --bs-table-active-color: #fff;
            --bs-table-hover-bg: rgba(50, 53, 57, 0.3);
            --bs-table-hover-color: #fff;
        }
    
        tr {
            td {
                padding: 10px 15px;
                color: azure;
                font-size: 18px;
                font-weight: 500;
                border-bottom: none;
            }
    
            &#my-contact {
                a.link-custom {
                    color: azure;
    
                    &:hover {
                        color: #1abc9c;
                    }
                }
            }
    
            &:nth-child(1) {
                td {
                    &:nth-child(1) {
                        border-top-left-radius: 10px;
                    }
    
                    &:nth-last-child(1) {
                        border-top-right-radius: 10px;
                    }
                }
            }
    
            &:nth-last-child(1) {
                td {
                    &:nth-child(1) {
                        border-bottom-left-radius: 10px;
                    }
    
                    &:nth-last-child(1) {
                        border-bottom-right-radius: 10px;
                    }
                }
            }
        }
    }
}

footer.footer {
    background-color: #383C6E !important;

    p.lead {
        span.bold-text {
            font-weight: 800;
        }

        a.link-custom {
            color: azure;

            &:hover {
                color: #1abc9c;
            }
        }
    }
}